Repository tbrandenburg/work: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript, tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npm run format:check
        language: system
        files: \.(ts|js|json|md)$
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: npm run lint
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      - id: typescript
        name: typescript
        entry: npm run type-check
        language: system
        files: \.(ts)$
        pass_filenames: false

      - id: tests
        name: tests
        entry: npm test
        language: system
        files: \.(ts)$
        pass_filenames: false

docs(architecture): add OSLC CM vocabulary alignment documentation
  .kiro/steering/architecture.md
  docs/work-graph-ontology-and-runtime.md
Due: prettier

docs(architecture): add OSLC CM vocabulary alignment documentation (#8)
  .kiro/steering/architecture.md
  docs/work-graph-ontology-and-runtime.md
Due: prettier

docs: Updated devlog
  .claude/PRPs/reports/rca/issue-7.md
  .kiro/devlog/devlog.md
Due: prettier

Added phase 2 plan
  .claude/PRPs/plans/core-engine-local-fs-mvp.plan.md
  .claude/PRPs/prds/work-cli-unified-task-management.prd.md
Due: prettier

feat(core): implement complete work CLI engine with local-fs adapter
  .claude/PRPs/plans/completed/core-engine-local-fs-mvp.plan.md
  .claude/PRPs/reports/core-engine-local-fs-mvp-report.md
  .work/projects/default/id-counter.json
  .work/projects/default/work-items/TASK-001.md
  bin/run.js
  jest.config.js
  package.json
  src/adapters/index.ts
  src/adapters/local-fs/id-generator.ts
  src/adapters/local-fs/index.ts
  src/adapters/local-fs/storage.ts
  src/cli/commands/close.ts
  src/cli/commands/context/add.ts
  src/cli/commands/context/list.ts
  src/cli/commands/context/set.ts
  src/cli/commands/create.ts
  src/cli/commands/get.ts
  src/cli/commands/index.ts
  src/cli/commands/list.ts
  src/cli/commands/start.ts
  src/core/engine.ts
  src/core/graph.ts
  src/core/index.ts
  src/core/query.ts
  src/types/context.ts
  src/types/errors.ts
  src/types/index.ts
  src/types/work-item.ts
  tests/unit/adapters/local-fs/id-generator.test.ts
  tests/unit/core/graph.test.ts.skip
  tests/unit/types/work-item.test.ts
  tsconfig.json
Due: prettier, eslint, typescript, tests

Investigate issue #9: ESM configuration mismatch in Jest
  .claude/PRPs/issues/issue-9.md
Due: prettier

Fix: ESM configuration mismatch in Jest (#9)
  jest.config.js
Due: prettier, eslint

Archive investigation for issue #9
  .claude/PRPs/issues/completed/issue-9.md
Due: prettier

Improved system-review.md prompt
  .kiro/prompts/system-review.md
Due: prettier

docs(testing): stage coverage targets by maturity
  .claude/PRPs/plans/core-engine-local-fs-mvp.plan.md
  .kiro/steering/tech.md
  docs/work-nonfunctional-requirements.md
  docs/work-poc.md
Due: prettier

docs(plan): frontload coverage gating for TDD
  .claude/PRPs/plans/core-engine-local-fs-mvp.plan.md
Due: prettier

chore(prompts): enforce governed coverage commands
  .kiro/prompts/prp-plan-ctx7.md
  Makefile
Due: prettier

docs(plan): reorder tasks for coverage-first flow
  .claude/PRPs/plans/core-engine-local-fs-mvp.plan.md
Due: prettier

docs(plan): add pre-push CI hook task
  .claude/PRPs/plans/core-engine-local-fs-mvp.plan.md
Due: prettier

docs: updated system review prompt
  .kiro/prompts/system-review.md
Due: prettier

chore(prompts): revert system review prompt changes
  .kiro/prompts/system-review.md
Due: prettier

Docs: stage test coverage targets by maturity (#10)
  .claude/PRPs/plans/core-engine-local-fs-mvp.plan.md
  .kiro/prompts/prp-plan-ctx7.md
  .kiro/steering/tech.md
  Makefile
  docs/work-nonfunctional-requirements.md
  docs/work-poc.md
Due: prettier

feat(prp): enhance plan template with eager end-to-end testing validation
  .claude/PRPs/plans/core-engine-local-fs-mvp.plan.md
  .kiro/prompts/prp-plan-ctx7.md
Due: prettier

fix(prp): complete validation pattern with unit tests and coverage
  .kiro/prompts/prp-plan-ctx7.md
Due: prettier

feat(prp): add staged coverage targets to template
  .kiro/prompts/prp-plan-ctx7.md
Due: prettier

Feat: Enhance PRP plan template with eager end-to-end testing validation (#11)
  .claude/PRPs/plans/core-engine-local-fs-mvp.plan.md
  .kiro/prompts/prp-plan-ctx7.md
Due: prettier

feat(prp): align implement template with eager end-to-end testing validation
  .kiro/prompts/prp-implement-ctx7.md
Due: prettier

feat(prp): align implement template with eager end-to-end testing validation (#12)
  .kiro/prompts/prp-implement-ctx7.md
Due: prettier

feat(cli): complete core engine MVP with missing commands and engine fixes
  .claude/PRPs/reports/core-engine-local-fs-mvp-report.md
  jest.config.js
  src/cli/commands/index.ts
  src/cli/commands/link.ts
  src/cli/commands/set.ts
  src/core/engine.ts
  tests/unit/types/errors.test.ts
Due: prettier, eslint, typescript, tests

fix(cli): replace any types with proper TypeScript interfaces
  src/cli/commands/link.ts
  src/cli/commands/set.ts
Due: prettier, eslint, typescript, tests

feat(cli): add global installation, validation targets, and clean terminal output
  Makefile
  bin/run.js
  jest.config.js
  package.json
  tests/unit/core/engine.test.ts
  tests/unit/core/graph.test.ts
  tests/unit/core/query.test.ts
Due: prettier, eslint, typescript, tests

docs: Added reports and new prompt
  .claude/PRPs/reports/context7-mcp-validation-evidence.md
  .claude/PRPs/reports/implementation-deviations.md
  .claude/PRPs/reports/plan-archival-status.md
  .gitignore
  .kiro/prompts/prp-check-implementation.md
Due: prettier

docs: Added devlog.md
  .kiro/devlog/devlog.md
Due: prettier

docs: Added next plan
  .claude/PRPs/plans/next-command-set-implementation.plan.md
  .kiro/prompts/prp-plan-ctx7.md
  .work/projects/default/id-counter.json
Due: prettier

feat(cli): implement next command set with comprehensive testing
  .claude/PRPs/plans/completed/next-command-set-implementation.plan.md
  .claude/PRPs/reports/next-command-set-implementation-report.md
  .work/projects/default/work-items/TASK-001.md
  jest.config.js
  src/adapters/local-fs/index.ts
  src/cli/commands/comment.ts
  src/cli/commands/context/remove.ts
  src/cli/commands/context/show.ts
  src/cli/commands/delete.ts
  src/cli/commands/edit.ts
  src/cli/commands/index.ts
  src/cli/commands/move.ts
  src/cli/commands/reopen.ts
  src/cli/commands/unlink.ts
  src/cli/commands/unset.ts
  src/core/engine.ts
  src/types/context.ts
  tests/e2e/complete-workflow.test.ts
  tests/e2e/context-lifecycle.test.ts
  tests/e2e/error-handling.test.ts
  tests/e2e/example.test.ts
  tests/e2e/relation-lifecycle.test.ts
  tests/e2e/work-item-lifecycle.test.ts
  tests/integration/error-handling.test.ts
  tests/unit/adapters/index.test.ts
  tests/unit/cli/commands/context/show-branches.test.ts
  tests/unit/cli/commands/edit-branches.test.ts
  tests/unit/cli/commands/edit.test.ts
  tests/unit/cli/commands/unset-branches.test.ts
  tests/unit/cli/commands/unset.test.ts
  tests/unit/cli/index.test.ts
  tests/unit/core/engine.test.ts
  tests/unit/core/index.test.ts
Due: prettier, eslint, typescript, tests

Investigate PR #14: CI workflow step order causing command discovery failure
  .claude/PRPs/issues/pr-14.md
Due: prettier

Fix: CI workflow step order - build before tests (#14)
  .github/workflows/ci.yml
Due: none

Fix: CI workflow step order - build before tests
  .github/workflows/ci.yml
Due: none

Improved prp-issue-fix for valueing current branch
  .kiro/prompts/prp-issue-fix.md
Due: prettier
