Repository tbrandenburg/work: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript, tests

prettier:
  name: prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: npm run lint
  language: system
  pass_filenames: false

typescript:
  name: typescript
  entry: npm run type-check
  language: system
  pass_filenames: false

tests:
  name: tests
  entry: npm test
  language: system
  pass_filenames: false

fix: Adapted building and testing order
  Makefile
Due: none

feat: Implement next command set with comprehensive testing (#14)
  .claude/PRPs/issues/pr-14.md
  .claude/PRPs/plans/completed/next-command-set-implementation.plan.md
  .claude/PRPs/reports/next-command-set-implementation-report.md
  .github/workflows/ci.yml
  .kiro/prompts/prp-issue-fix.md
  .work/projects/default/work-items/TASK-001.md
  Makefile
  jest.config.js
  src/adapters/local-fs/index.ts
  src/cli/commands/comment.ts
  src/cli/commands/context/remove.ts
  src/cli/commands/context/show.ts
  src/cli/commands/delete.ts
  src/cli/commands/edit.ts
  src/cli/commands/index.ts
  src/cli/commands/move.ts
  src/cli/commands/reopen.ts
  src/cli/commands/unlink.ts
  src/cli/commands/unset.ts
  src/core/engine.ts
  src/types/context.ts
  tests/e2e/complete-workflow.test.ts
  tests/e2e/context-lifecycle.test.ts
  tests/e2e/error-handling.test.ts
  tests/e2e/example.test.ts
  tests/e2e/relation-lifecycle.test.ts
  tests/e2e/work-item-lifecycle.test.ts
  tests/integration/error-handling.test.ts
  tests/unit/adapters/index.test.ts
  tests/unit/cli/commands/context/show-branches.test.ts
  tests/unit/cli/commands/edit-branches.test.ts
  tests/unit/cli/commands/edit.test.ts
  tests/unit/cli/commands/unset-branches.test.ts
  tests/unit/cli/commands/unset.test.ts
  tests/unit/cli/index.test.ts
  tests/unit/core/engine.test.ts
  tests/unit/core/index.test.ts
Due: prettier, eslint, typescript, tests

Removed test file
  .work/projects/default/work-items/TASK-001.md
Due: prettier

Removed examples
  examples/DEVLOG.md
  examples/README.md
Due: prettier

feat(cli): implement authentication and schema introspection commands
  src/adapters/local-fs/index.ts
  src/cli/commands/auth/login.ts
  src/cli/commands/auth/logout.ts
  src/cli/commands/auth/status.ts
  src/cli/commands/index.ts
  src/cli/commands/schema/attrs.ts
  src/cli/commands/schema/kinds.ts
  src/cli/commands/schema/relations.ts
  src/cli/commands/schema/show.ts
  src/core/engine.ts
  src/types/context.ts
  src/types/index.ts
  tests/e2e/auth-schema-workflow.test.ts
  tests/unit/adapters/local-fs/auth.test.ts
  tests/unit/cli/commands/auth/login.test.ts
  tests/unit/cli/commands/auth/logout.test.ts
  tests/unit/cli/commands/auth/status.test.ts
  tests/unit/cli/commands/schema/attrs.test.ts
  tests/unit/cli/commands/schema/kinds.test.ts
  tests/unit/cli/commands/schema/relations.test.ts
  tests/unit/cli/commands/schema/show.test.ts
  tests/unit/core/engine-auth.test.ts
Due: prettier, eslint, typescript, tests

Investigate issue #16: CI coverage threshold failure
  .claude/PRPs/issues/issue-16.md
Due: prettier

Update issue #16 investigation: focus on improving branch coverage instead of lowering thresholds
  .claude/PRPs/issues/issue-16.md
Due: prettier

Fix: CI coverage threshold failure (#16)
  .claude/PRPs/plans/completed/auth-and-schema-commands.plan.md
  .claude/PRPs/reports/auth-and-schema-commands-report.md
  branch-coverage-todos.md
  jest.config.js
  package-lock.json
  tests/unit/cli/commands/auth/login-branches.test.ts
  tests/unit/cli/commands/auth/login.test.ts
  tests/unit/cli/commands/auth/logout-branches.test.ts
  tests/unit/cli/commands/auth/logout.test.ts
  tests/unit/cli/commands/auth/status-branches.test.ts
  tests/unit/cli/commands/auth/status.test.ts
  tests/unit/cli/commands/schema/attrs.test.ts
  tests/unit/cli/commands/schema/kinds.test.ts
  tests/unit/cli/commands/schema/relations.test.ts
  tests/unit/cli/commands/schema/schema-branches.test.ts
  tests/unit/cli/commands/schema/show-branches.test.ts
  tests/unit/cli/commands/schema/show.test.ts
  verification-todos.md
Due: prettier, eslint, typescript, tests

Archive investigation for issue #16
  .claude/PRPs/issues/completed/issue-16.md
Due: prettier

feat: Implement authentication and schema introspection commands (#16)
  .claude/PRPs/issues/completed/issue-16.md
  .claude/PRPs/plans/completed/auth-and-schema-commands.plan.md
  .claude/PRPs/reports/auth-and-schema-commands-report.md
  branch-coverage-todos.md
  jest.config.js
  package-lock.json
  src/adapters/local-fs/index.ts
  src/cli/commands/auth/login.ts
  src/cli/commands/auth/logout.ts
  src/cli/commands/auth/status.ts
  src/cli/commands/index.ts
  src/cli/commands/schema/attrs.ts
  src/cli/commands/schema/kinds.ts
  src/cli/commands/schema/relations.ts
  src/cli/commands/schema/show.ts
  src/core/engine.ts
  src/types/context.ts
  src/types/index.ts
  tests/e2e/auth-schema-workflow.test.ts
  tests/unit/adapters/local-fs/auth.test.ts
  tests/unit/cli/commands/auth/login-branches.test.ts
  tests/unit/cli/commands/auth/login.test.ts
  tests/unit/cli/commands/auth/logout-branches.test.ts
  tests/unit/cli/commands/auth/logout.test.ts
  tests/unit/cli/commands/auth/status-branches.test.ts
  tests/unit/cli/commands/auth/status.test.ts
  tests/unit/cli/commands/schema/attrs.test.ts
  tests/unit/cli/commands/schema/kinds.test.ts
  tests/unit/cli/commands/schema/relations.test.ts
  tests/unit/cli/commands/schema/schema-branches.test.ts
  tests/unit/cli/commands/schema/show-branches.test.ts
  tests/unit/cli/commands/schema/show.test.ts
  tests/unit/core/engine-auth.test.ts
  verification-todos.md
Due: prettier, eslint, typescript, tests

fix: Improved implementation prompt
  .kiro/prompts/prp-implement-ctx7.md
Due: prettier

Add guardrails to PRP planning and implementation prompts
  .kiro/prompts/prp-implement-ctx7.md
  .kiro/prompts/prp-plan-ctx7.md
Due: prettier

Add guardrails to PRP planning and implementation prompts (#17)
  .kiro/prompts/prp-implement-ctx7.md
  .kiro/prompts/prp-plan-ctx7.md
Due: prettier

Ignore bin directory artifacts
  .gitignore
  bin/run.js
Due: prettier, eslint

Add core principles to agent guidelines
  AGENTS.md
Due: prettier

Add core principles to agent guidelines (#19)
  AGENTS.md
Due: prettier

Add CI run requirement to agent guidelines
  AGENTS.md
Due: prettier

feat(query): implement enhanced where clause with comparison and logical operators
  .claude/PRPs/plans/completed/enhanced-where-clause-features.plan.md
  .claude/PRPs/reports/enhanced-where-clause-features-report.md
  .kiro/prompts/prp-plan-ctx7.md
  enhanced-where-clause-todos.md
  jest.config.js
  src/cli/commands/list.ts
  src/core/engine.ts
  src/core/query.ts
  src/types/errors.ts
  tests/unit/core/query.test.ts
Due: prettier, eslint, typescript, tests

feat(query): implement enhanced where clause with comparison and logical operators (#21)
  .claude/PRPs/plans/completed/enhanced-where-clause-features.plan.md
  .claude/PRPs/reports/enhanced-where-clause-features-report.md
  .kiro/prompts/prp-plan-ctx7.md
  enhanced-where-clause-todos.md
  jest.config.js
  src/cli/commands/list.ts
  src/core/engine.ts
  src/core/query.ts
  src/types/errors.ts
  tests/unit/core/query.test.ts
Due: prettier, eslint, typescript, tests

docs: Added devlog
  .kiro/devlog/devlog.md
Due: prettier

Add CI run requirement to agent guidelines (#20)
  AGENTS.md
Due: prettier

Clean up root directory: move todo files to dev/todos
  branch-coverage-todos.md
  enhanced-where-clause-todos.md
  verification-todos.md
Due: prettier

Clarify dev/ directory usage in AGENTS.md
  AGENTS.md
Due: prettier

Chore: Clean up root directory and improve AGENTS.md guidelines (#22)
  AGENTS.md
  branch-coverage-todos.md
  enhanced-where-clause-todos.md
  verification-todos.md
Due: prettier

docs: Implement prompt to consider todo tool
  .kiro/prompts/prp-implement-ctx7.md
Due: prettier

Investigate PR #23: CI tests failing due to missing directory creation in id-generator
  .claude/PRPs/issues/pr-23.md
Due: prettier

Fix: CI tests failing due to missing directory creation in id-generator (#23)
  src/adapters/local-fs/id-generator.ts
Due: prettier, eslint, typescript, tests

Archive investigation for PR #23
  .claude/PRPs/issues/completed/pr-23.md
Due: prettier

feat(prompts): implement surgical prompt improvements for high-ROI workflow hardening
  .kiro/prompts/prp-implement-ctx7.md
  .kiro/prompts/prp-plan-ctx7.md
  .kiro/prompts/task-ledger.md
  AGENTS.md
Due: prettier

feat(prompts): implement surgical prompt improvements for high-ROI workflow hardening (#24)
  .kiro/prompts/prp-implement-ctx7.md
  .kiro/prompts/prp-plan-ctx7.md
  .kiro/prompts/task-ledger.md
  AGENTS.md
Due: prettier

docs: Updated devlog
  .kiro/devlog/devlog.md
Due: prettier

perf(tests): optimize CI pipeline with parallel execution and faster tests
  jest.config.js
  tests/unit/cli/json-output-optimized.test.ts
  tests/unit/cli/universal-json-support-optimized.test.ts
Due: prettier, eslint, typescript, tests

perf(tests): optimize CI pipeline with parallel execution and faster tests (#25)
  jest.config.js
  tests/unit/cli/json-output-optimized.test.ts
  tests/unit/cli/universal-json-support-optimized.test.ts
Due: prettier, eslint, typescript, tests

docs: Improved prompts and added new plans
  .claude/PRPs/plans/github-adapter.plan.md
  .claude/PRPs/plans/plugin-system-with-hooks.plan.md
  .kiro/prompts/prp-implement-ctx7.md
  .kiro/prompts/prp-plan-ctx7.md
  AGENTS.md
Due: prettier

docs: Improved prompts and github plan
  .claude/PRPs/plans/github-adapter.plan.md
  .kiro/prompts/prp-implement-ctx7.md
Due: prettier

feat(testing): complete Jest to Vitest migration with test fixes
  .claude/PRPs/plans/completed/jest-to-vitest-migration.plan.md
  .claude/PRPs/reports/jest-to-vitest-migration-report.md
  jest.config.js
  package-lock.json
  package.json
  tests/unit/adapters/local-fs/id-generator.test.ts
  tests/unit/cli/base-command-edge-cases.test.ts
  tests/unit/cli/commands/auth/login-branches.test.ts
  tests/unit/cli/commands/auth/logout-branches.test.ts
  tests/unit/cli/commands/auth/status-branches.test.ts
  tests/unit/cli/commands/context/show-branches.test.ts
  tests/unit/cli/commands/edit-branches.test.ts
  tests/unit/cli/commands/schema/schema-branches.test.ts
  tests/unit/cli/commands/schema/show-branches.test.ts
  tests/unit/cli/commands/unset-branches.test.ts
  tests/unit/cli/universal-json-support-optimized.test.ts
  tests/unit/core/engine-auth.test.ts
  tests/unit/core/engine.test.ts
  tests/unit/core/query.test.ts
  tsconfig.json
  vitest.config.ts
Due: prettier, eslint, typescript, tests

feat(testing): complete Jest to Vitest migration with test fixes (#26)
  .claude/PRPs/plans/completed/jest-to-vitest-migration.plan.md
  .claude/PRPs/reports/jest-to-vitest-migration-report.md
  jest.config.js
  package-lock.json
  package.json
  tests/unit/adapters/local-fs/id-generator.test.ts
  tests/unit/cli/base-command-edge-cases.test.ts
  tests/unit/cli/commands/auth/login-branches.test.ts
  tests/unit/cli/commands/auth/logout-branches.test.ts
  tests/unit/cli/commands/auth/status-branches.test.ts
  tests/unit/cli/commands/context/show-branches.test.ts
  tests/unit/cli/commands/edit-branches.test.ts
  tests/unit/cli/commands/schema/schema-branches.test.ts
  tests/unit/cli/commands/schema/show-branches.test.ts
  tests/unit/cli/commands/unset-branches.test.ts
  tests/unit/cli/universal-json-support-optimized.test.ts
  tests/unit/core/engine-auth.test.ts
  tests/unit/core/engine.test.ts
  tests/unit/core/query.test.ts
  tsconfig.json
  vitest.config.ts
Due: prettier, eslint, typescript, tests

Path conditions:
  prettier: any of: \.(ts|js|json|md)$
  eslint: any of: \.(ts|js)$
  typescript: any of: \.(ts)$
  tests: any of: \.(ts)$
