Repository tbrandenburg/work: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript, tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npm run format:check
        language: system
        files: \.(ts|js|json|md)$
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: npm run lint
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      - id: typescript
        name: typescript
        entry: npm run type-check
        language: system
        files: \.(ts)$
        pass_filenames: false

      - id: tests
        name: tests
        entry: npm test
        language: system
        files: \.(ts)$
        pass_filenames: false

docs(notifications): add comprehensive user guide for bash and Telegram notifications (#62)
  docs/README.md
  docs/work-notifications.md
  example-notify-script.sh
Due: prettier

refactor(tests): move integration tests from unit to integration directory
  .kiro/settings/lsp.json
  Makefile
  package.json
  tests/integration/cli/commands/auth/login.test.ts
  tests/integration/cli/commands/auth/logout.test.ts
  tests/integration/cli/commands/auth/status.test.ts
  tests/integration/cli/commands/edit.test.ts
  tests/integration/cli/commands/notify/send.test.ts
  tests/integration/cli/commands/schema/attrs.test.ts
  tests/integration/cli/commands/schema/kinds.test.ts
  tests/integration/cli/commands/schema/relations.test.ts
  tests/integration/cli/commands/schema/show.test.ts
  tests/integration/cli/commands/unset.test.ts
  tests/integration/cli/json-consolidated.test.ts
  tests/integration/cli/json-error-handling.test.ts
Due: prettier, eslint, typescript, tests

refactor(tests): move integration tests from unit to integration directory (#63)
  .kiro/settings/lsp.json
  Makefile
  package.json
  tests/integration/cli/commands/auth/login.test.ts
  tests/integration/cli/commands/auth/logout.test.ts
  tests/integration/cli/commands/auth/status.test.ts
  tests/integration/cli/commands/edit.test.ts
  tests/integration/cli/commands/notify/send.test.ts
  tests/integration/cli/commands/schema/attrs.test.ts
  tests/integration/cli/commands/schema/kinds.test.ts
  tests/integration/cli/commands/schema/relations.test.ts
  tests/integration/cli/commands/schema/show.test.ts
  tests/integration/cli/commands/unset.test.ts
  tests/integration/cli/json-consolidated.test.ts
  tests/integration/cli/json-error-handling.test.ts
Due: prettier, eslint, typescript, tests

fix: Enable GitHub integration tests with CI_GITHUB_TOKEN
  .github/workflows/ci.yml
  src/adapters/github/auth.ts
  tests/e2e/github-telegram-integration.test.ts
  tests/integration/adapters/github/github-adapter.test.ts
Due: prettier, eslint, typescript, tests

fix: make GitHub integration test resilient to parallel CI race conditions
  tests/integration/adapters/github/github-adapter.test.ts
Due: prettier, eslint, typescript, tests

fix: make additional GitHub tests resilient to parallel CI interference
  tests/e2e/github-telegram-integration.test.ts
  tests/integration/adapters/github/github-adapter.test.ts
Due: prettier, eslint, typescript, tests

feat: enable GitHub CLI auth E2E test with CI_GITHUB_TOKEN
  tests/e2e/github-telegram-integration.test.ts
Due: prettier, eslint, typescript, tests

feat: enable second GitHub-Telegram E2E test
  tests/e2e/github-telegram-integration.test.ts
Due: prettier, eslint, typescript, tests

Enable GitHub integration tests with CI_GITHUB_TOKEN (#67)
  tests/e2e/github-telegram-integration.test.ts
  tests/integration/adapters/github/github-adapter.test.ts
Due: prettier, eslint, typescript, tests

Added agile work flow with agents demo
  examples/ai-scrum/README.md
  examples/ai-scrum/demo.sh
  examples/ai-scrum/developer.sh
  examples/ai-scrum/init.sh
  examples/ai-scrum/reviewer.sh
  examples/ai-scrum/scrum-cycle.sh
  examples/ai-scrum/scrum-master.sh
Due: prettier

Added github demo
  examples/ai-scrum-github/EXECUTION.md
  examples/ai-scrum-github/README.md
  examples/ai-scrum-github/demo.sh
  examples/ai-scrum-github/developer.sh
  examples/ai-scrum-github/init.sh
  examples/ai-scrum-github/reviewer.sh
  examples/ai-scrum-github/scrum-cycle.sh
  examples/ai-scrum-github/scrum-master.sh
Due: prettier

fix: Tidied up repo root
  error.json
  example-notify-script.sh
  examples/ai-scrum-github/developer.sh
  output.json
  test-cli-token.sh
  update_commands.sh
Due: prettier

docs: Added demo video
  docs/dev-cycles-demo.mp4
Due: none

docs: Added embedded video
  README.md
Due: prettier

docs: Changed to auto-loop
  README.md
Due: prettier

docs: Pasted pure video link
  README.md
Due: prettier

Update video link in README.md
  README.md
Due: prettier

docs: Wrapped video in brackets
  README.md
Due: prettier

docs: Changed back to video player
  README.md
Due: prettier

fix: Increased test timeouts for slow machines
  vitest.config.ts
Due: prettier, eslint, typescript, tests

Add plan: improve test coverage to 60%
  .claude/PRPs/plans/improve-test-coverage-60-percent.plan.md
Due: prettier

Improve test coverage: fix bash handler, add context tests, create env example
  .env.example
  tests/integration/cli/commands/context/add.test.ts
  tests/integration/cli/commands/notify/target/list.test.ts
  tests/unit/adapters/local-fs/storage.test.ts
  tests/unit/core/target-handlers/bash-handler.test.ts
  tests/unit/types/context.test.ts
  tests/unit/types/notification.test.ts
  tests/unit/types/response.test.ts
  vitest.config.ts
Due: prettier, eslint, typescript, tests

test: improve test coverage from 57% to 65.62% and fix GitHub adapter
  tests/integration/cli/commands/notify/target/list.test.ts
  tests/unit/adapters/github/errors.test.ts
  tests/unit/adapters/github/index.test.ts
  tests/unit/adapters/local-fs/id-generator.test.ts
  tests/unit/adapters/local-fs/storage.test.ts
  tests/unit/cli/base-command.test.ts
  tests/unit/cli/formatter.test.ts
  tests/unit/core/target-handlers/index.test.ts
  tests/unit/src/index.test.ts
  tests/unit/types/errors.test.ts
Due: prettier, eslint, typescript, tests

fix(cli): add argument validation and fix test expectations for notification target list command
  src/cli/commands/notify/target/list.ts
  tests/integration/cli/commands/notify/target/list.test.ts
Due: prettier, eslint, typescript, tests

Test: Improve test coverage from 57% to 65.62% and fix GitHub adapter (#339)
  .claude/PRPs/plans/improve-test-coverage-60-percent.plan.md
  .env.example
  src/cli/commands/notify/target/list.ts
  tests/integration/cli/commands/context/add.test.ts
  tests/integration/cli/commands/notify/target/list.test.ts
  tests/unit/adapters/github/errors.test.ts
  tests/unit/adapters/github/index.test.ts
  tests/unit/adapters/local-fs/id-generator.test.ts
  tests/unit/adapters/local-fs/storage.test.ts
  tests/unit/cli/base-command.test.ts
  tests/unit/cli/formatter.test.ts
  tests/unit/core/target-handlers/bash-handler.test.ts
  tests/unit/core/target-handlers/index.test.ts
  tests/unit/src/index.test.ts
  tests/unit/types/context.test.ts
  tests/unit/types/errors.test.ts
  tests/unit/types/notification.test.ts
  tests/unit/types/response.test.ts
  vitest.config.ts
Due: prettier, eslint, typescript, tests

docs(onboarding): add user-friendly navigation and quick start guide
  README.md
  docs/getting-started/quick-start.md
Due: prettier

docs(onboarding): add user-friendly navigation and quick start guide (#375)
  README.md
  docs/getting-started/quick-start.md
Due: prettier

Updated devlog
  .kiro/devlog/devlog.md
Due: prettier

dics: Uodated product view
  .kiro/steering/product.md
  README.md
Due: prettier

work-vision.drawio added
  docs/work-vision.drawio
Due: none

work-before.drawio added
  docs/work-before.drawio
Due: none

work-vision.drawio updated
  docs/work-vision.drawio
Due: none

work-before.drawio updated
  docs/work-before.drawio
Due: none

docs: Added visualizations
  README.md
  docs/work-before.drawio.svg
  docs/work-vision.drawio.svg
Due: prettier

docs: Added visualizations
  .DS_Store
Due: none

docs: Added visualizations
  README.md
Due: prettier

docs: Updated visualizations
  README.md
Due: prettier
