Repository tbrandenburg/work: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript, tests

prettier:
  name: prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: npm run lint
  language: system
  pass_filenames: false

typescript:
  name: typescript
  entry: npm run type-check
  language: system
  pass_filenames: false

tests:
  name: tests
  entry: npm test
  language: system
  pass_filenames: false

feat(notify): implement notification system with context persistence
  .claude/PRPs/plans/completed/notify-command-implementation.plan.md
  .claude/PRPs/reports/notify-command-implementation-report.md
  src/cli/commands/index.ts
  src/cli/commands/notify/send.ts
  src/cli/commands/notify/target/add.ts
  src/cli/commands/notify/target/list.ts
  src/cli/commands/notify/target/remove.ts
  src/core/engine.ts
  src/core/notification-service.ts
  src/core/target-handlers/bash-handler.ts
  src/core/target-handlers/index.ts
  src/types/context.ts
  src/types/notification.ts
  tests/e2e/notify-workflow.test.ts
  tests/unit/cli/commands/notify/send.test.ts
  tests/unit/core/notification-service.test.ts
Due: prettier, eslint, typescript, tests

Investigate issue #28: Fix notification handler registration race condition
  .claude/PRPs/issues/issue-28.md
Due: prettier

Fix: notification handler registration race condition (#28)
  src/core/engine.ts
Due: prettier, eslint, typescript, tests

Archive investigation for issue #28
  .claude/PRPs/issues/completed/issue-28.md
Due: prettier

feat: Implement notification system with context persistence (#28)
  .claude/PRPs/issues/completed/issue-28.md
  .claude/PRPs/plans/completed/notify-command-implementation.plan.md
  .claude/PRPs/reports/notify-command-implementation-report.md
  src/cli/commands/index.ts
  src/cli/commands/notify/send.ts
  src/cli/commands/notify/target/add.ts
  src/cli/commands/notify/target/list.ts
  src/cli/commands/notify/target/remove.ts
  src/core/engine.ts
  src/core/notification-service.ts
  src/core/target-handlers/bash-handler.ts
  src/core/target-handlers/index.ts
  src/types/context.ts
  src/types/notification.ts
  tests/e2e/notify-workflow.test.ts
  tests/unit/cli/commands/notify/send.test.ts
  tests/unit/core/notification-service.test.ts
Due: prettier, eslint, typescript, tests

feat(notifications): implement Telegram notification target handler
  .claude/PRPs/plans/completed/telegram-notification-target.plan.md
  src/core/engine.ts
  src/core/target-handlers/index.ts
  src/core/target-handlers/telegram-handler.ts
  tests/e2e/telegram-notification.test.ts
  tests/unit/core/target-handlers/telegram-handler.test.ts
Due: prettier, eslint, typescript, tests

fix(ci): make Telegram E2E test skip gracefully in CI without secrets
  tests/e2e/telegram-notification.test.ts
Due: prettier, eslint, typescript, tests

fix(ci): load Telegram secrets in GitHub workflow
  .github/workflows/ci.yml
  tests/e2e/telegram-notification.test.ts
Due: prettier, eslint, typescript, tests

fix(e2e): ensure Telegram notifications contain actual work items
  tests/e2e/telegram-notification.test.ts
Due: prettier, eslint, typescript, tests

Fix context loading bug causing empty work item notifications
  src/cli/commands/context/list.ts
  src/cli/commands/context/show.ts
  src/core/engine.ts
Due: prettier, eslint, typescript, tests

fix: make ensureDefaultContext public to resolve linting errors
  src/cli/commands/context/list.ts
  src/cli/commands/context/show.ts
  src/core/engine.ts
Due: prettier, eslint, typescript, tests

fix: update tests to match new context auto-creation behavior
  tests/e2e/context-lifecycle.test.ts
  tests/unit/cli/commands/context/show-branches.test.ts
  tests/unit/cli/universal-json-support.test.ts
Due: prettier, eslint, typescript, tests

feat: Implement Telegram notification target handler (#29)
  .claude/PRPs/plans/completed/telegram-notification-target.plan.md
  .github/workflows/ci.yml
  src/cli/commands/context/list.ts
  src/cli/commands/context/show.ts
  src/core/engine.ts
  src/core/target-handlers/index.ts
  src/core/target-handlers/telegram-handler.ts
  tests/e2e/context-lifecycle.test.ts
  tests/e2e/telegram-notification.test.ts
  tests/unit/cli/commands/context/show-branches.test.ts
  tests/unit/cli/universal-json-support.test.ts
  tests/unit/core/target-handlers/telegram-handler.test.ts
Due: prettier, eslint, typescript, tests

feat: implement enhanced GitHub authentication hierarchy with gh CLI integration
  .claude/PRPs/plans/enhanced-github-auth-hierarchy.plan.md
  README.md
  docs/work-github-auth.md
  src/adapters/github/auth.ts
  src/types/context.ts
  tests/unit/adapters/github/auth.test.ts
Due: prettier, eslint, typescript, tests

docs: add implementation completion artifacts
  .claude/PRPs/plans/completed/enhanced-github-auth-hierarchy.plan.md
  .claude/PRPs/reports/enhanced-github-auth-hierarchy-report.md
Due: prettier

style: apply prettier formatting to notification-related files
  .claude/PRPs/plans/enhanced-github-auth-hierarchy.plan.md
  src/cli/commands/context/list.ts
  src/cli/commands/notify/send.ts
  src/cli/commands/notify/target/add.ts
  src/cli/commands/notify/target/list.ts
  src/cli/commands/notify/target/remove.ts
  src/core/engine.ts
  src/core/notification-service.ts
  src/core/target-handlers/bash-handler.ts
  src/core/target-handlers/telegram-handler.ts
  src/types/notification.ts
  tests/e2e/notify-workflow.test.ts
  tests/e2e/telegram-notification.test.ts
  tests/unit/cli/commands/notify/send.test.ts
  tests/unit/core/notification-service.test.ts
  tests/unit/core/target-handlers/telegram-handler.test.ts
Due: prettier, eslint, typescript, tests

fix: implement authentication state persistence and complete E2E tests
  .github/workflows/ci.yml
  src/adapters/github/index.ts
  src/cli/commands/auth/login.ts
  src/cli/commands/auth/logout.ts
  src/cli/commands/auth/status.ts
  src/cli/commands/context/add.ts
  src/cli/commands/context/remove.ts
  src/cli/commands/context/set.ts
  src/cli/commands/schema/attrs.ts
  src/cli/commands/schema/kinds.ts
  src/cli/commands/schema/relations.ts
  src/cli/commands/schema/show.ts
  src/core/engine.ts
  src/core/target-handlers/telegram-handler.ts
  tests/e2e/context-lifecycle.test.ts
  tests/e2e/github-telegram-integration.test.ts
  tests/unit/cli/commands/auth/login-branches.test.ts
  tests/unit/cli/commands/auth/status-branches.test.ts
  tests/unit/core/engine-auth.test.ts
Due: prettier, eslint, typescript, tests

fix: add repository access checks to skip tests in CI
  tests/e2e/github-telegram-integration.test.ts
  tests/integration/adapters/github/github-adapter.test.ts
Due: prettier, eslint, typescript, tests

refactor: improve GitHub authentication testing strategy
  docs/work-e2e-integration-tests.md
  tests/e2e/github-telegram-integration.test.ts
  tests/integration/adapters/github/github-adapter.test.ts
Due: prettier, eslint, typescript, tests

fix: skip E2E test in CI without write permissions
  tests/e2e/github-telegram-integration.test.ts
Due: prettier, eslint, typescript, tests

fix: add CI_GITHUB_TOKEN to CI environment
  .github/workflows/ci.yml
Due: none

fix: use environment variable for token auth in E2E test
  tests/e2e/github-telegram-integration.test.ts
Due: prettier, eslint, typescript, tests

debug: add GitHub token permission testing to CI
  .github/workflows/ci.yml
  scripts/test-github-tokens.sh
Due: none

fix: skip GitHub CLI auth test in CI environment
  tests/e2e/github-telegram-integration.test.ts
Due: prettier, eslint, typescript, tests

fix: prioritize CI_GITHUB_TOKEN over GITHUB_TOKEN in auth
  src/adapters/github/auth.ts
Due: prettier, eslint, typescript, tests

debug: add missing GITHUB_TOKEN playground test
  scripts/test-github-tokens.sh
Due: none

test: add test for CI_GITHUB_TOKEN priority over GITHUB_TOKEN
  tests/unit/adapters/github/auth.test.ts
Due: prettier, eslint, typescript, tests

fix: use work repository instead of playground in E2E test
  tests/e2e/github-telegram-integration.test.ts
Due: prettier, eslint, typescript, tests

fix: resolve CI test failures with repository access
  tests/e2e/github-telegram-integration.test.ts
  tests/integration/adapters/github/github-adapter.test.ts
Due: prettier, eslint, typescript, tests

fix: skip integration tests when GitHub CLI is authenticated
  tests/integration/adapters/github/github-adapter.test.ts
Due: prettier, eslint, typescript, tests

fix: properly skip integration tests when GitHub CLI is authenticated
  tests/integration/adapters/github/github-adapter.test.ts
Due: prettier, eslint, typescript, tests

refactor(tests): optimize test suite by removing low-value tests
  .claude/PRPs/plans/completed/test-suite-optimization.plan.md
  .claude/PRPs/reports/test-suite-optimization-report.md
  test-cli-token.sh
  tests/e2e/example.test.ts
  tests/integration/example.test.ts
  tests/unit/cli/base-command-edge-cases.test.ts
  tests/unit/cli/commands/auth/login-branches.test.ts
  tests/unit/cli/commands/auth/logout-branches.test.ts
  tests/unit/cli/commands/auth/status-branches.test.ts
  tests/unit/cli/commands/context/show-branches.test.ts
  tests/unit/cli/commands/edit-branches.test.ts
  tests/unit/cli/commands/schema/schema-branches.test.ts
  tests/unit/cli/commands/schema/show-branches.test.ts
  tests/unit/cli/commands/unset-branches.test.ts
  tests/unit/cli/formatter-edge-cases.test.ts
  tests/unit/cli/json-consolidated.test.ts
  tests/unit/cli/json-output-optimized.test.ts
  tests/unit/cli/json-output.test.ts
  tests/unit/cli/universal-json-support-optimized.test.ts
  tests/unit/cli/universal-json-support.test.ts
  tests/unit/core/query-focused.test.ts
  tests/unit/core/query.test.ts
  tests/unit/example.test.ts
  vitest.config.ts
Due: prettier, eslint, typescript, tests

refactor(tests): optimize test suite by removing low-value tests (#57)
  .claude/PRPs/plans/completed/test-suite-optimization.plan.md
  .claude/PRPs/reports/test-suite-optimization-report.md
  test-cli-token.sh
  tests/e2e/example.test.ts
  tests/integration/example.test.ts
  tests/unit/cli/base-command-edge-cases.test.ts
  tests/unit/cli/commands/auth/login-branches.test.ts
  tests/unit/cli/commands/auth/logout-branches.test.ts
  tests/unit/cli/commands/auth/status-branches.test.ts
  tests/unit/cli/commands/context/show-branches.test.ts
  tests/unit/cli/commands/edit-branches.test.ts
  tests/unit/cli/commands/schema/schema-branches.test.ts
  tests/unit/cli/commands/schema/show-branches.test.ts
  tests/unit/cli/commands/unset-branches.test.ts
  tests/unit/cli/formatter-edge-cases.test.ts
  tests/unit/cli/json-consolidated.test.ts
  tests/unit/cli/json-output-optimized.test.ts
  tests/unit/cli/json-output.test.ts
  tests/unit/cli/universal-json-support-optimized.test.ts
  tests/unit/cli/universal-json-support.test.ts
  tests/unit/core/query-focused.test.ts
  tests/unit/core/query.test.ts
  tests/unit/example.test.ts
  vitest.config.ts
Due: prettier, eslint, typescript, tests

docs(devlog): add Day 21 comprehensive development log entry
  .kiro/devlog/devlog.md
Due: prettier

fix(tests): use temporary directory for CLI integration tests
  tests/unit/cli/json-consolidated.test.ts
Due: prettier, eslint, typescript, tests

Docs: Add Day 21 comprehensive development log entry (#59)
  .kiro/devlog/devlog.md
  tests/unit/cli/json-consolidated.test.ts
Due: prettier, eslint, typescript, tests

docs(notifications): add comprehensive user guide for bash and Telegram notifications
  docs/README.md
  docs/work-notifications.md
  example-notify-script.sh
Due: prettier

Path conditions:
  prettier: any of: \.(ts|js|json|md)$
  eslint: any of: \.(ts|js)$
  typescript: any of: \.(ts)$
  tests: any of: \.(ts)$
