Repository tbrandenburg/work: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript, tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npm run format:check
        language: system
        files: \.(ts|js|json|md)$
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: npm run lint
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      - id: typescript
        name: typescript
        entry: npm run type-check
        language: system
        files: \.(ts)$
        pass_filenames: false

      - id: tests
        name: tests
        entry: npm test
        language: system
        files: \.(ts)$
        pass_filenames: false

feat(notify): add support for sending plain text messages to notification targets
  .claude/PRPs/plans/completed/multi-line-notification-messages.plan.md
  .claude/PRPs/reports/multi-line-notification-messages-report.md
  src/cli/commands/notify/send.ts
  src/core/engine.ts
  src/core/notification-service.ts
  src/core/target-handlers/telegram-handler.ts
  tests/e2e/telegram-notification.test.ts
Due: prettier, eslint, typescript, tests

feat(notify): Add support for sending plain text messages (#929)
  .claude/PRPs/plans/completed/multi-line-notification-messages.plan.md
  .claude/PRPs/reports/multi-line-notification-messages-report.md
  src/cli/commands/notify/send.ts
  src/core/engine.ts
  src/core/notification-service.ts
  src/core/target-handlers/telegram-handler.ts
  tests/e2e/telegram-notification.test.ts
Due: prettier, eslint, typescript, tests

feat: Add ACP notification target (MVP Phase 1)
  .claude/PRPs/plans/completed/opencode-acp-notification-target.plan.md
  .claude/PRPs/reports/opencode-acp-notification-target-report.md
  package-lock.json
  package.json
  src/cli/commands/notify/target/add.ts
  src/core/engine.ts
  src/core/target-handlers/acp-handler.ts
  src/core/target-handlers/index.ts
  src/types/errors.ts
  src/types/notification.ts
  tests/e2e/acp-integration.test.ts
  tests/unit/core/target-handlers/acp-handler.test.ts
Due: prettier, eslint, typescript, tests

fix: ACP handler process cleanup and E2E test
  .claude/PRPs/reports/verification-report.md
  src/core/engine.ts
  src/core/target-handlers/acp-handler.ts
  tests/e2e/acp-integration.test.ts
Due: prettier, eslint, typescript, tests

docs: add final verification report with real OpenCode testing
  .claude/PRPs/reports/verification-report-final.md
Due: prettier

docs: add ACP target documentation with session limitation
  docs/work-notifications.md
Due: prettier

test: increase ACP handler coverage from 14% to 96%+
  tests/unit/core/target-handlers/acp-handler.test.ts
Due: prettier, eslint, typescript, tests

Fix: Enable ACP session persistence across CLI invocations (#963)
  src/core/engine.ts
  src/core/target-handlers/acp-handler.ts
  src/types/notification.ts
  tests/e2e/acp-integration.test.ts
Due: prettier, eslint, typescript, tests

Fix: Add explicit return type to cleanup function
  .claude/PRPs/reports/acp-session-persistence-verification.md
  src/core/engine.ts
Due: prettier, eslint, typescript, tests

Feature: ACP (Agent Client Protocol) Notification Target (#976)
  .claude/PRPs/plans/completed/opencode-acp-notification-target.plan.md
  .claude/PRPs/reports/acp-session-persistence-verification.md
  .claude/PRPs/reports/opencode-acp-notification-target-report.md
  .claude/PRPs/reports/verification-report-final.md
  .claude/PRPs/reports/verification-report.md
  docs/work-notifications.md
  package-lock.json
  package.json
  src/cli/commands/notify/target/add.ts
  src/core/engine.ts
  src/core/target-handlers/acp-handler.ts
  src/core/target-handlers/index.ts
  src/types/errors.ts
  src/types/notification.ts
  tests/e2e/acp-integration.test.ts
  tests/unit/core/target-handlers/acp-handler.test.ts
Due: prettier, eslint, typescript, tests

chore: organize poc-opencode-server into logical directory structure
  dev/poc-opencode-server/.gitignore
  dev/poc-opencode-server/00-planning/FINDINGS.md
  dev/poc-opencode-server/00-planning/POC_NOTES.md
  dev/poc-opencode-server/00-planning/WORK-CLI-INTEGRATION.md
  dev/poc-opencode-server/01-guides/APPLICATION_GUIDE.md
  dev/poc-opencode-server/01-guides/QUICK-REFERENCE.md
  dev/poc-opencode-server/01-guides/QUICKSTART.md
  dev/poc-opencode-server/01-guides/SDK-EVALUATION.md
  dev/poc-opencode-server/01-guides/SESSION-RESUME-GUIDE.md
  dev/poc-opencode-server/02-reference/AGENTS-MODELS-PERMISSIONS.md
  dev/poc-opencode-server/02-reference/INDEX.md
  dev/poc-opencode-server/02-reference/SUMMARY.md
  dev/poc-opencode-server/03-demos/check-session-structure.js
  dev/poc-opencode-server/03-demos/complete-acp-test.js
  dev/poc-opencode-server/03-demos/demo-session-resume.js
  dev/poc-opencode-server/03-demos/explore-acp.js
  dev/poc-opencode-server/03-demos/explore-http-api.js
  dev/poc-opencode-server/03-demos/models-permissions-demo.js
  dev/poc-opencode-server/03-demos/session-resume-WORKING.js
  dev/poc-opencode-server/03-demos/session-resume-example.js
  dev/poc-opencode-server/03-demos/test-acp-protocol.js
  dev/poc-opencode-server/03-demos/test-sdk.js
  dev/poc-opencode-server/03-demos/test-single-server.js
  dev/poc-opencode-server/04-scripts/VERIFY.sh
  dev/poc-opencode-server/04-scripts/explore.sh
  dev/poc-opencode-server/05-results/_COMPLETION_REPORT.txt
  dev/poc-opencode-server/05-results/acp-results.json
  dev/poc-opencode-server/05-results/findings.json
  dev/poc-opencode-server/05-results/logs/acp-test.log
  dev/poc-opencode-server/05-results/logs/acp.log
  dev/poc-opencode-server/05-results/logs/server1.log
  dev/poc-opencode-server/05-results/logs/server2.log
  dev/poc-opencode-server/05-results/models-permissions-results.json
  dev/poc-opencode-server/05-results/session-list.json
  dev/poc-opencode-server/MANIFEST.md
  dev/poc-opencode-server/README.md
  dev/poc-opencode-server/package-lock.json
  dev/poc-opencode-server/package.json
Due: prettier, eslint

chore: organize poc-opencode-server into logical directory structure (#1009)
  dev/poc-opencode-server/.gitignore
  dev/poc-opencode-server/00-planning/FINDINGS.md
  dev/poc-opencode-server/00-planning/POC_NOTES.md
  dev/poc-opencode-server/00-planning/WORK-CLI-INTEGRATION.md
  dev/poc-opencode-server/01-guides/APPLICATION_GUIDE.md
  dev/poc-opencode-server/01-guides/QUICK-REFERENCE.md
  dev/poc-opencode-server/01-guides/QUICKSTART.md
  dev/poc-opencode-server/01-guides/SDK-EVALUATION.md
  dev/poc-opencode-server/01-guides/SESSION-RESUME-GUIDE.md
  dev/poc-opencode-server/02-reference/AGENTS-MODELS-PERMISSIONS.md
  dev/poc-opencode-server/02-reference/INDEX.md
  dev/poc-opencode-server/02-reference/SUMMARY.md
  dev/poc-opencode-server/03-demos/check-session-structure.js
  dev/poc-opencode-server/03-demos/complete-acp-test.js
  dev/poc-opencode-server/03-demos/demo-session-resume.js
  dev/poc-opencode-server/03-demos/explore-acp.js
  dev/poc-opencode-server/03-demos/explore-http-api.js
  dev/poc-opencode-server/03-demos/models-permissions-demo.js
  dev/poc-opencode-server/03-demos/session-resume-WORKING.js
  dev/poc-opencode-server/03-demos/session-resume-example.js
  dev/poc-opencode-server/03-demos/test-acp-protocol.js
  dev/poc-opencode-server/03-demos/test-sdk.js
  dev/poc-opencode-server/03-demos/test-single-server.js
  dev/poc-opencode-server/04-scripts/VERIFY.sh
  dev/poc-opencode-server/04-scripts/explore.sh
  dev/poc-opencode-server/05-results/_COMPLETION_REPORT.txt
  dev/poc-opencode-server/05-results/acp-results.json
  dev/poc-opencode-server/05-results/findings.json
  dev/poc-opencode-server/05-results/logs/acp-test.log
  dev/poc-opencode-server/05-results/logs/acp.log
  dev/poc-opencode-server/05-results/logs/server1.log
  dev/poc-opencode-server/05-results/logs/server2.log
  dev/poc-opencode-server/05-results/models-permissions-results.json
  dev/poc-opencode-server/05-results/session-list.json
  dev/poc-opencode-server/MANIFEST.md
  dev/poc-opencode-server/README.md
  dev/poc-opencode-server/package-lock.json
  dev/poc-opencode-server/package.json
Due: prettier, eslint

Investigate issue #995: Add streaming notification support to ACP handler
  .claude/PRPs/issues/issue-995.md
Due: prettier

Fix: Add streaming notification support to ACP handler (#995)
  src/core/target-handlers/acp-handler.ts
  src/types/notification.ts
  tests/unit/core/target-handlers/acp-handler.test.ts
Due: prettier, eslint, typescript, tests

Archive investigation for issue #995
  .claude/PRPs/issues/completed/issue-995.md
Due: prettier

Fix: Add streaming notification support to ACP handler (#995) (#1031)
  .claude/PRPs/issues/completed/issue-995.md
  src/core/target-handlers/acp-handler.ts
  src/types/notification.ts
  tests/unit/core/target-handlers/acp-handler.test.ts
Due: prettier, eslint, typescript, tests

Investigate issue #1050: Add exception handling for ACP notification callbacks
  .claude/PRPs/issues/issue-1050.md
Due: prettier

Fix: Add exception handling for ACP notification callbacks (#1050)
  src/core/target-handlers/acp-handler.ts
  tests/unit/core/target-handlers/acp-handler.test.ts
Due: prettier, eslint, typescript, tests

Add debug logging for JSON parse errors in ACP handler (#1071)
  package-lock.json
  src/core/target-handlers/acp-handler.ts
  tests/unit/core/target-handlers/acp-handler.test.ts
Due: prettier, eslint, typescript, tests

Archive investigation for issue #1050
  .claude/PRPs/issues/completed/issue-1050.md
Due: prettier

Fix: Add exception handling for ACP notification callbacks (#1050) (#1111)
  .claude/PRPs/issues/completed/issue-1050.md
  src/core/target-handlers/acp-handler.ts
  tests/unit/core/target-handlers/acp-handler.test.ts
Due: prettier, eslint, typescript, tests

Investigate issue #998: Add ACP capability configuration support
  .claude/PRPs/issues/issue-998.md
Due: prettier

Fix: Add capability configuration support to ACP handler (#998)
  src/core/target-handlers/acp-handler.ts
  src/types/notification.ts
  tests/unit/core/target-handlers/acp-handler.test.ts
Due: prettier, eslint, typescript, tests

Archive investigation for issue #998
  .claude/PRPs/issues/completed/issue-998.md
Due: prettier

Fix: Add capability configuration support to ACP handler (#998) (#1154)
  .claude/PRPs/issues/completed/issue-998.md
  .claude/PRPs/issues/issue-1050.md
  src/core/target-handlers/acp-handler.ts
  src/types/notification.ts
  tests/unit/core/target-handlers/acp-handler.test.ts
Due: prettier, eslint, typescript, tests

fix: Moved poc-opencode-server
  dev/poc-opencode-server/05-results/logs/acp-test.log
  dev/poc-opencode-server/05-results/logs/acp.log
  dev/poc-opencode-server/05-results/logs/server1.log
  dev/poc-opencode-server/05-results/logs/server2.log
  docs/poc-opencode-server/.gitignore
  docs/poc-opencode-server/00-planning/FINDINGS.md
  docs/poc-opencode-server/00-planning/POC_NOTES.md
  docs/poc-opencode-server/00-planning/WORK-CLI-INTEGRATION.md
  docs/poc-opencode-server/01-guides/APPLICATION_GUIDE.md
  docs/poc-opencode-server/01-guides/QUICK-REFERENCE.md
  docs/poc-opencode-server/01-guides/QUICKSTART.md
  docs/poc-opencode-server/01-guides/SDK-EVALUATION.md
  docs/poc-opencode-server/01-guides/SESSION-RESUME-GUIDE.md
  docs/poc-opencode-server/02-reference/AGENTS-MODELS-PERMISSIONS.md
  docs/poc-opencode-server/02-reference/INDEX.md
  docs/poc-opencode-server/02-reference/SUMMARY.md
  docs/poc-opencode-server/03-demos/check-session-structure.js
  docs/poc-opencode-server/03-demos/complete-acp-test.js
  docs/poc-opencode-server/03-demos/demo-session-resume.js
  docs/poc-opencode-server/03-demos/explore-acp.js
  docs/poc-opencode-server/03-demos/explore-http-api.js
  docs/poc-opencode-server/03-demos/models-permissions-demo.js
  docs/poc-opencode-server/03-demos/session-resume-WORKING.js
  docs/poc-opencode-server/03-demos/session-resume-example.js
  docs/poc-opencode-server/03-demos/test-acp-protocol.js
  docs/poc-opencode-server/03-demos/test-sdk.js
  docs/poc-opencode-server/03-demos/test-single-server.js
  docs/poc-opencode-server/04-scripts/VERIFY.sh
  docs/poc-opencode-server/04-scripts/explore.sh
  docs/poc-opencode-server/05-results/_COMPLETION_REPORT.txt
  docs/poc-opencode-server/05-results/acp-results.json
  docs/poc-opencode-server/05-results/findings.json
  docs/poc-opencode-server/05-results/models-permissions-results.json
  docs/poc-opencode-server/05-results/session-list.json
  docs/poc-opencode-server/MANIFEST.md
  docs/poc-opencode-server/README.md
  docs/poc-opencode-server/package-lock.json
  docs/poc-opencode-server/package.json
Due: prettier, eslint

fix: Tidied up .claude folder
  .claude/PRPs/issues/completed/pr-14.md
  .claude/PRPs/issues/completed/pr-23.md
  .claude/PRPs/issues/issue-1050.md
  .claude/PRPs/issues/issue-995.md
  .claude/PRPs/issues/issue-998.md
  .claude/PRPs/plans/completed/improve-test-coverage-60-percent.plan.md
Due: prettier

fix: Prevent EventEmitter memory leak in WorkEngine
  src/core/engine.ts
  tests/unit/core/engine-auth.test.ts
  tests/unit/core/engine.test.ts
  tests/unit/core/index.test.ts
Due: prettier, eslint, typescript, tests

0.3.0
  package-lock.json
  package.json
Due: prettier

feat: add system prompt support for ACP targets
  .claude/PRPs/plans/completed/acp-system-prompt-support.plan.md
  .claude/PRPs/reports/acp-system-prompt-support-report.md
  docs/work-notifications.md
  src/cli/commands/notify/target/add.ts
  src/core/target-handlers/acp-handler.ts
  src/types/notification.ts
  tests/unit/core/target-handlers/acp-handler.test.ts
Due: prettier, eslint, typescript, tests

docs: add adversarial verification report for system prompt implementation
  .claude/PRPs/reports/acp-system-prompt-verification.md
Due: prettier

docs: add ACP real-world example and remove from planned features
  README.md
Due: prettier

feat: Add system prompt support for ACP targets (#1203)
  .claude/PRPs/plans/completed/acp-system-prompt-support.plan.md
  .claude/PRPs/reports/acp-system-prompt-support-report.md
  .claude/PRPs/reports/acp-system-prompt-verification.md
  README.md
  docs/work-notifications.md
  src/cli/commands/notify/target/add.ts
  src/core/target-handlers/acp-handler.ts
  src/types/notification.ts
  tests/unit/core/target-handlers/acp-handler.test.ts
Due: prettier, eslint, typescript, tests

Investigate issue #1234: Make WHERE clause optional in notify send
  .claude/PRPs/issues/issue-1234.md
Due: prettier

Fix: Make WHERE clause optional in 'work notify send' (#1234)
  src/cli/commands/notify/send.ts
  tests/integration/cli/commands/notify/send.test.ts
Due: prettier, eslint, typescript, tests

Archive investigation for issue #1234
  .claude/PRPs/issues/completed/issue-1234.md
Due: prettier

Fix: Make WHERE clause optional in 'work notify send' (#1234) (#1235)
  .claude/PRPs/issues/completed/issue-1234.md
  src/cli/commands/notify/send.ts
  tests/integration/cli/commands/notify/send.test.ts
Due: prettier, eslint, typescript, tests
